// first color palette
$fern-green: #397f3eff;

// color palette: https://coolors.co/ff7477-cfbff7-252422-84dccf-4281a4
$bg-dark: #252422ff;
$boy-primary: #4281a4ff;
$boy-secondary: #84dccfff;
$girl-primary: #cfbff7ff;
$girl-secondary: #ff4081;
$girl-tertiary: #ff7477ff;
