<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
  }
</style>

<div class="background-container">
  <!-- <img id="bgimage" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png" alt="moon"> -->
  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="clouds"></div>
</div>


<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Drinking Logo"
    src="../assets/images/logo_white.png"
  />
  <span>Let's drink</span>
    <a aria-label="Sicc Jams on YouTube" target="_blank" rel="noopener" href="https://www.radio.at/s/electroradio" title="Some Sicc Jams">
      <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
      </svg>
    </a>
</div>

<div class="content" role="main">
  <!-- Resources -->
  <app-add-player *ngIf="players.length === 0" (gameStart)="gameStartEventHandler($event)"></app-add-player>
  <app-cards *ngIf="players.length > 0" [players]="players"></app-cards>

  <div *ngIf="players.length > 0" class="pt-2">
    <button class="py-1 px-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-400 z-10" (click)="resetPlayers()">Back to main menu</button>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>

</div>

